.catalogItem {
  padding: 10px 0;
}

.catalogTitle {
  color: #833939;
}

.catalogListInner {
  display: flex;
  justify-content: center;
}

.catalogItemInner {
  padding: 0 5px;
}

.catalogTitleInner {
  color: #faa0a0;
}