body {
  background-color: #746f6f;
}

.container {
  max-width: 1200px;
  margin: 10px auto 0;
  text-align: center;
  font-family: "RobotoFlex";
  color: #fff;
}

.headerList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.headerListItem {
  padding: 0 5px;
}

.headerListLink {
  color: #fff;
  transition: all 1s;
}

.headerListLink.active {
  color: #89ebb1;
  font-weight: 900;
}

.headerListLink:hover {
  color: #00ff6a;
  font-weight: 900;
  font-size: large;
  padding: 0 15px;
}