html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, sub, sup, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, article, figure, figcaption, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
  text-decoration: none;
}
ol, ul {
  list-style: none;
}